name: test-reusable
on:
  workflow_call:
jobs:
  hello:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - run: echo "permissions in job not workflow level"
