name: test-reusable
on:
  workflow_call:
permissions:
  contents: write
  pull-requests: write
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "reusable workflow with permissions only"
